### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data_df = pd.DataFrame(purchase_data)
total_players = purchase_data_df['SN'].nunique()

total_players_df = pd.DataFrame([total_players], columns=['Total Players'])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
uniqueItems = purchase_data_df['Item ID'].nunique()
avgPrice = purchase_data_df['Price'].mean()
total_purchases = purchase_data_df['Purchase ID'].count()
total_revenue = purchase_data_df['Price'].sum()

summary_df = pd.DataFrame({'Number of Unique Items': [uniqueItems], 'Average Price': avgPrice, 'Number of Purchases': total_purchases, 'Total Revenue': total_revenue})
summary_df['Average Price'] = summary_df['Average Price'].map("${:.2f}".format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map("${:.2f}".format)
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
no_duplicates_df = purchase_data_df.drop_duplicates(subset='SN', keep='first')
gender_df = pd.DataFrame(no_duplicates_df['Gender'].value_counts())
gender_df['Percentage of Players'] = (gender_df['Gender']/total_players)*100

gender_df = gender_df.rename(columns={'Gender': 'Total Count'})
gender_df['Percentage of Players'] = gender_df['Percentage of Players'].map("{:.2f}%".format)

gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_purchase_df = purchase_data_df.groupby(['Gender'])
gender_purchase_count = gender_purchase_df['Purchase ID'].count()
gender_avg_pur_price = gender_purchase_df['Price'].mean()
gender_total_purchase = gender_purchase_df['Price'].sum()
avg_purchase = gender_total_purchase/gender_df['Total Count']

gender_summary_df = pd.DataFrame(pd.concat([gender_purchase_count, gender_avg_pur_price, gender_total_purchase, avg_purchase], axis=1))
gender_summary_df.columns = ['Purchase Count','Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
gender_summary_df['Average Purchase Price'] = gender_summary_df['Average Purchase Price'].map("${:.2f}".format)
gender_summary_df['Avg Total Purchase per Person'] = gender_summary_df['Avg Total Purchase per Person'].map("${:.2f}".format)
gender_summary_df['Total Purchase Value'] = gender_summary_df['Total Purchase Value'].map("${:,.2f}".format)
gender_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [-1, 9, 14, 19, 24, 29, 34, 39, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
pd.options.mode.chained_assignment = None

no_duplicates_df['Age Group'] = pd.cut(no_duplicates_df["Age"], bins, labels=group_names)
age_df = pd.DataFrame(no_duplicates_df['Age Group'].value_counts(sort=False))
age_df['Percentage of Players'] = (age_df['Age Group']/total_players)*100
age_df['Percentage of Players'] = age_df['Percentage of Players'].map("{:.2f}%".format)
age_df = age_df.rename(columns={'Age Group': 'Total Count'})
age_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
age_purchase_df = purchase_data_df
age_purchase_df['Age Ranges'] = pd.cut(purchase_data_df["Age"], bins, labels=group_names)
age_purchase_df = age_purchase_df.groupby('Age Ranges')

age_purchase_count = age_purchase_df['Purchase ID'].count()
age_avg_pur_price = age_purchase_df['Price'].mean()
age_total_purchase = age_purchase_df['Price'].sum()
age_avg_purchase = age_total_purchase/age_df['Total Count']

age_summary_df = pd.DataFrame(pd.concat([age_purchase_count, age_avg_pur_price, age_total_purchase, age_avg_purchase], axis=1))
age_summary_df.columns = ['Purchase Count','Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
age_summary_df['Average Purchase Price'] = age_summary_df['Average Purchase Price'].map("${:.2f}".format)
age_summary_df['Avg Total Purchase per Person'] = age_summary_df['Avg Total Purchase per Person'].map("${:.2f}".format)
age_summary_df['Total Purchase Value'] = age_summary_df['Total Purchase Value'].map("${:,.2f}".format)
age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
top_spenders_group = purchase_data_df.groupby(['SN'])

top_spenders_count = top_spenders_group['SN'].count()
top_spenders_avg_pur_price = top_spenders_group['Price'].mean()
top_spenders_total_purchase = top_spenders_group['Price'].sum()

top_spenders_df = pd.DataFrame(pd.concat([top_spenders_count, top_spenders_avg_pur_price, top_spenders_total_purchase], axis=1))
top_spenders_df.columns = ['Purchase Count','Average Purchase Price', 'Total Purchase Value']
top_spenders_df = top_spenders_df.sort_values(by='Total Purchase Value', ascending=False)
top_spenders_df['Average Purchase Price'] = top_spenders_df['Average Purchase Price'].map("${:.2f}".format)
top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map("${:,.2f}".format)
top_spenders_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
most_popular_df = purchase_data_df[['Item ID', 'Item Name', 'Price']]
most_popular_items_group = most_popular_df.groupby(['Item ID', 'Item Name'])

most_popular_count = most_popular_items_group['Item Name'].count()
most_popular_total_purchase = most_popular_items_group['Price'].sum()
most_popular_price = most_popular_total_purchase/most_popular_count

most_popular_df = pd.DataFrame(pd.concat([most_popular_count, most_popular_price, most_popular_total_purchase], axis=1))
most_popular_df.columns = ['Purchase Count','Item Price', 'Total Purchase Value']
most_popular_df_cleaned = most_popular_df.sort_values(by='Total Purchase Value', ascending=False)
most_popular_df_cleaned['Item Price'] = most_popular_df_cleaned['Item Price'].map("${:.2f}".format)
most_popular_df_cleaned['Total Purchase Value'] = most_popular_df_cleaned['Total Purchase Value'].map("${:,.2f}".format)

most_popular_df_cleaned.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
most_profitable_df_cleaned = most_popular_df.sort_values(by='Total Purchase Value', ascending=False)
most_profitable_df_cleaned['Item Price'] = most_profitable_df_cleaned['Item Price'].map("${:.2f}".format)
most_profitable_df_cleaned['Total Purchase Value'] = most_profitable_df_cleaned['Total Purchase Value'].map("${:,.2f}".format)
most_profitable_df_cleaned.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

## Written Analysis

Trend 1: Unsurprisingly given that we are talking about online gaming, males vastly outnumber any other gender classification in regards to the game's purchasing playerbase.

Trend 2: However, females and other/non-disclosed genders that purchase items spend more on average than males. Roughly 40 to 50 cents more per person, in fact.

Trend 3: